{% extends 'adminbase.html.twig' %}

{% block pageheader %}New Contact Us{% endblock %}
{% block container %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('contactus_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
